layout {

    focus-ring {
        active-color   "#bec7db"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bec7db"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bec7db"
        inactive-color "#3e4758"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bec7db80"
    }
}

recent-windows {
    highlight {
        active-color "#bec7db"
        urgent-color "#ffb4ab"
    }
}
